*{
  box-sizing: border-box;
}

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

ul{
  list-style-type: none;
  padding: 0;
}

a, button{
  text-decoration: none;
  padding: 5px;
  margin-top: 20px;

  background-color: aqua;
  border-radius: 13px;
}

a:hover,
button:hover,
a:focus,
button:focus{
  background-color: rgb(240, 230, 94);
}